extends templates/layout

block vars
  - var bodyClass = 'architecture'
  - var activePage = 'architecture.html'


block content 
  - var images = 7

  .in-wrapper.js-slider-container
    .slider-wrapper.to-fade
      .slider
        - var fi = 0
        while fi < images
          - fi++
            .item
              .bg.slider-inside-back.day(style="background-image: url(images/residence/#{fi}_day.jpg)")
              .bg.slider-inside-back.night(style="background-image: url(images/residence/#{fi}_night.jpg)")
      .cover

    //- .shadow-wrapper
      .preview-gallery
        //.mask-container
        .container
          - var si = 0
          while si < images
            - si++
              .item
                .preview(data-slide-id="#{si - 1}")
                  .bg.slider-inside-back.day(style="background-image: url(images/residence/thumbs/#{si}_day_hover.jpg)")
                  .bg.slider-inside-back.night(style="background-image: url(images/residence/thumbs/#{si}_night_hover.jpg)")

    .day-night.day
      .tip Виды резиденции<br>Ночью
      .switch.js-switch-time

block scripts


    