doctype html

- var title = 'RV'
- var bodyClass = 'index'
block vars


    
html.no-js(lang="")
  head
    meta(charset="utf-8")
    meta(name="description", content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title #{title}
    link(rel="stylesheet", href="styles/main.css")

  body(class="#{ bodyClass }")
    .page-wrapper
        .header
            .wrapper
                a(href="./").header__logo
                a(href="tel:+79451234567").header__phone.phone-block
                    span.phone__code +7 495
                    span.phone__number 123 45 67
                nav.header__menu
                    - var menuLinks = [{"name": "Резиденция", "link": "architecture.html"},{"name": "Окружение", "link": "architecture.html#2"},{"name": "Архитектура", "link": "architecture.html#3"},{"name": "Контакты", "link": "contacts.html"}];
                    each i in menuLinks
                        a(href="#{i.link}" class=activePage==i.link?'active':'').menu__link #{i.name}
        block content

    .footer
        .wrapper
            .footer__left &copy; 2015 Лидер Инвест
            .footer__right
                a(href="#") Проектная декларация
            .footer__center
                .center__link.link-big
                    a(href="#").link__item.item-bbdo
                .center__link.link-min
                    a(href="#").link__item.item-mezon
                .center__link.link-min
                    a(href="#").link__item.item-novostroy
                .center__link.link-min
                    a(href="#").link__item.item-lider
                .center__link.link-min
                    a(href="#").link__item.item-knight
                .center__link.link-min
                    a(href="#").link__item.item-cubes
                .center__link.link-big
                    a(href="#").link__item Ход строительства
    
    //- // build:js scripts/components.js 
    //- script(src="scripts/components/jquery/dist/jquery.js")
    //- script(src="scripts/components/jquery.scrollbar/jquery.scrollbar.js")
    //- script(src="scripts/components/bxslider-4/dist/jquery.bxslider.js")
    //- // endbuild

    script(src="scripts/components/jquery.js")
    script(src="scripts/components/perfect-scrollbar.jquery.js")
    script(src="scripts/components/jquery.bxslider.js")
    script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA4Q5VgK-858jgeSbJKHbclop_XIJs3lXs&sensor=true")
    

    //- // build:js scripts/pages.js
    script(src="scripts/pages/architecture.js")
    script(src="scripts/pages/index.js")
    script(src="scripts/pages/contacts.js")
    //- // endbuild


    block scripts 

    
    script.
      $('html').removeClass('no-js');
