doctype html

- var title = 'Резиденция на Всеволожском'
- var bodyClass = 'index'
block vars


    
html.no-js(lang="")
  head
    meta(charset="utf-8")
    meta(name="description", content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title #{title}
    link(rel="stylesheet", href="styles/main.css")

  body(class="#{ bodyClass }")
    .page-wrapper
        .header.js-header
            .wrapper
                a(href="./").header__logo
                a(href="tel:+74996830300").header__phone.phone-block
                    //- span.phone__code 
                    span.phone__number <span>+7</span> 499 683 03 00
                nav.header__menu
                    - var menuLinks = [{"name": "Гений места", "link": "about.html"},{"name": "Силуэт города", "link": "environment.html"},{"name": "Музыка в камне", "link": "architecture.html"},{"name": "Контакты", "link": "contact.html"}];
                    each i in menuLinks
                        a(href="#{i.link}" class=activePage==i.link?'active':'').menu__link #{i.name}
        block content

    .footer.js-footer
        .wrapper
            .footer__left
                a(href="stage.html").link__item.footer-link Ход строительства
                    span.item__default
                    span.item__hover
                a(target="_blank" href="uploads/Красивая_Всеволожский_Проектная декларация_ред_ №_5_от 30-07-2015г.pdf").footer-link Проектная декларация
            .footer__right
            .footer__center
                .center__link.link-min
                    //-.js-footer-left
                    a(href="http://bbdogroup.ru" target="_blank").link__item.item-bbdo
                        span.item__default
                        span.item__hover
                .center__link.link-min
                    a(href="company.html#mezon").link__item.item-mezon
                        span.item__default
                        span.item__hover
                .center__link.link-min
                    a(href="company.html#novostroy").link__item.item-novostroy
                        span.item__default
                        span.item__hover
                .center__link.link-min
                    a(href="company.html#lider").link__item.item-lider
                        span.item__default
                        span.item__hover
                .center__link.link-min
                    a(href="company.html#knight").link__item.item-knight
                        span.item__default
                        span.item__hover
                .center__link.link-min
                    a(href="company.html#cubes").link__item.item-cubes
                        span.item__default
                        span.item__hover
    
    //- // build:js scripts/components.js 
    //- script(src="scripts/components/jquery/dist/jquery.js")
    //- script(src="scripts/components/jquery.scrollbar/jquery.scrollbar.js")
    //- script(src="scripts/components/bxslider-4/dist/jquery.bxslider.js")
    //- // endbuild

    script(src="scripts/components/jquery.js")
    script(src="scripts/components/perfect-scrollbar.jquery.js")
    script(src="scripts/components/jquery.bxslider.js")
    script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA4Q5VgK-858jgeSbJKHbclop_XIJs3lXs&sensor=true")
    

    //- // build:js scripts/pages.js
    script(src="scripts/pages/architecture.js")
    script(src="scripts/pages/index.js")
    script(src="scripts/pages/contacts.js")
    //- // endbuild


    block scripts 

    
    script.
      $('html').removeClass('no-js');
